node-red-flow/flow1.json
[
  {"id":"b6e6f69b.2e45d",
    "type":"mqtt in",
    "z":"f4b1b0f5.b053b8",
    "name":"",
    "topic":"mode",
    "qos":"2",
    "datatype":"auto",
    "broker":"e79f11a8.aacbb",
    "x":120,
    "y":160,
    "wires":[
      ["a4fbf058.5dc14"]
    ]
  },
  {"id":"d3dd5773.68b6f8",
    "type":"mqtt in",
    "z":"f4b1b0f5.b053b8",
    "name":"",
    "topic":"direction",
    "qos":"2",
    "datatype":"auto",
    "broker":"e79f11a8.aacbb",
    "x":140,
    "y":220,
    "wires":[
      ["a4fbf058.5dc14"]
    ]
  },
  {"id":"92e4f08d.ea2408",
    "type":"function",
    "z":"f4b1b0f5.b053b8",
    "name":"Control LEDs",
    "func":"var direction = msg.payload;\n\nif (direction === \"front\") {\n    led_front.on();\n    led_back.off();\n    led_left.off();\n    led_right.off();\n} else if (direction === \"back\") {\n    led_front.off();\n    led_back.on();\n    led_left.off();\n    led_right.off();\n} else if (direction === \"left\") {\n    led_front.off();\n    led_back.off();\n    led_left.on();\n    led_right.off();\n} else if (direction === \"right\") {\n    led_front.off();\n    led_back.off();\n    led_left.off();\n    led_right.on();\n} else {\n    led_front.off();\n    led_back.off();\n    led_left.off();\n    led_right.off();\n}\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "x":390,
    "y":240,
    "wires":[
      []
    ]
  },
  {"id":"a4fbf058.5dc14",
    "type":"switch",
    "z":"f4b1b0f5.b053b8",
    "name":"",
    "property":"topic",
    "propertyType":"msg",
    "rules":[
      {"t":"eq",
        "v":"mode",
        "vt":"str"
      },
      {"t":"eq",
        "v":"direction",
        "vt":"str"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":2,
    "x":240,
    "y":200,
    "wires":[
      ["92e4f08d.ea2408"],
      ["35f07cbe.1539c2"]
    ]
  },
  {"id":"35f07cbe.1539c2",
    "type":"function",
    "z":"f4b1b0f5.b053b8",
    "name":"Store Direction",
    "func":"userdata.direction = msg.payload;\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "x":410,
    "y":200,
    "wires":[
      []
    ]
  },
  {"id":"acdc06f7.0ee37",
    "type":"mqtt out",
    "z":"f4b1b0f5.b053b8",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "broker":"e79f11a8.aacbb",
    "x":870,
    "y":180,
    "wires":[]
  },
  {"id":"64846077.186c74",
    "type":"mqtt out",
    "z":"f4b1b0f5.b053b8",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "broker":"e79f11a8.aacbb",
    "x":870,
    "y":240,
    "wires":[]
  },
  {"id":"e79f11a8.aacbb",
    "type":"mqtt-broker",
    "z":"",
    "name":"MQTT Broker",
    "broker":"localhost",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "compatmode":false,
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthRetain":"false",
    "birthPayload":"",
    "closeTopic":"",
    "closeQos":"0",
    "closeRetain":"false",
    "closePayload":"",
    "willTopic":"",
    "willQos":"0",
    "willRetain":"false",
    "willPayload":""
  }
]
